<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="baseService" class="a.j.shop.service.impl.BaseServiceImpl"
		lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="categoryService" class="a.j.shop.service.impl.CategoryServiceImpl"
		parent="baseService" />
	<bean id="accountService" class="a.j.shop.service.impl.AccountServiceImpl"
		parent="baseService" />

</beans>
